.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #34D399;
  height: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CompCard{
  border: 1px solid "green";
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.List{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.comp_container {
  display: flex;           
  flex-wrap: wrap;         
  gap: 20px;               
  justify-content: center; 
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #0a0a0a;                 
  padding: 20px;
  border-radius: 12px;

  width: 90%;
  max-width: 380px;

  border: 1px solid #10b981;           
  box-shadow: 0 10px 30px rgba(16, 185, 129, 0.25);

  color: #e5e7eb;                      
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);     
}



nav {
background-color: #333333;
overflow: hidden;
}
nav a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
nav ul {
list-style-type: none;
}