
.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0);
  animation: overlayFadeIn 0.3s ease forwards;

  z-index: 9999;

  pointer-events: auto;
}


.modal {
  animation: modalFadeIn 0.3s ease forwards;
}


body.modal-open {
  overflow: hidden;
}

@keyframes overlayFadeIn {
  to {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal p {
  margin: 0;
}
